@{
    ViewBag.Title = "About";
}
<head>

</head>

<body>

@section navbar{
}


    <!-- Mission and Vision Start -->
    <div class="container py-5">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-6 wow fadeInUp text-center" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Misión</h6>
                <p>
                    Tejer conexiones humanas en cada entrega, vinculando eficientemente mercancías y relaciones comerciales para impulsar el éxito.
                </p>
            </div>
            <div class="col-lg-6 wow fadeInUp text-center" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Visión</h6>
                <p>Ser líderes reconocidos en la industria de transporte por carretera, destacando por nuestra dedicación a la innovación, la calidad del servicio y la asociación estratégica con nuestros clientes.</p>
            </div>
        </div>
    </div>
    <!-- Mission and Vision End -->

@section footer{
}
</body>