
@{
    ViewBag.Title = "AcercaDe";
}

<head>

</head>

<body>
@section navbar{
}
    <!-- Developer Info Start -->
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Desarrolladora: Marilyn Acuña Aguilar</h2>
                <p>Dueña y desarrolladora del sitio.</p>
                <p>Estudiante de ultimo nivel en la carrera de Tecnologias de Informacion en el Colegio Universitario de Cartago.</p>
            </div>
            <div class="col-md-6">
                <h2 class="mb-4">Contacto</h2>
                <p><strong>Correo Electrónico:</strong> marilyn030599@gmail.com</p>
                <p><strong>Teléfono:</strong> +506 89884512</p>
                <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/marilyn-acuña-a670952a8" target="_blank">https://www.linkedin.com/in/marilyn-acuña-a670952a8</a></p>
            </div>
        </div>
    </div>
    <!-- Developer Info End -->
    @section footer{
        }
</body>
