@{
    ViewBag.Title = "EnvioCorreo";
}

@section navbar{

}


<div class="container" style="padding-top: 20px; text-align: center;">
    <div style="display: inline-block; text-align: left; max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9;">
        <h1 style="font-size: 24px;">Correo Electrónico Enviado</h1>
        <p style="font-size: 18px;">Se ha enviado un correo electrónico a su cuenta para su confirmación. </p>
      
    </div>
</div>

@section footer{

}

