
@{
    ViewBag.Title = "ErrorBloqueado";
}

@section navbar{
}
<h2>Cuenta Bloqueada</h2>
<div class="alert alert-danger" role="alert">
    Tu cuenta ha sido bloqueada debido a múltiples intentos fallidos de inicio de sesión. Por favor, reactive su cuenta por medio de la autogestión ubicada en el Inicio de Sesion.
</div>

@section footer{
}
