
@{
    ViewBag.Title = "Registro";
}



<body>

  @section navbar{
      }

    <!-- Sign-up Start -->
    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase mb-3">REGISTRO</h6>
                    <h1 class="mb-5">Regístrate ahora!</h1>
                    <p class="mb-5">Regístrate ahora y obtén más información sobre nuestros servicios!</p>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-user-plus fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="bg-light text-center p-5 wow fadeIn" data-wow-delay="0.5s">
                        <form action="@Url.Action("Registrar", "Registro")" method="post" data-ajax="false">
                            <div class="ui-field-contain">
                                <label for="IDEmpresa">ID Empresa:</label>
                                <input type="text" name="IDEmpresa" id="IDEmpresa" placeholder="ID Empresa" data-mini="true">
                            </div>
                            <div class="ui-field-contain">
                                <label for="NombreContactoPrincipal">Nombre Completo:</label>
                                <input type="text" name="NombreContactoPrincipal" id="NombreContactoPrincipal" placeholder="Nombre Completo" data-mini="true">
                            </div>
                            <div class="ui-field-contain">
                                <label for="CorreoContactoPrincipal">Correo Electrónico:</label>
                                <input type="email" name="CorreoContactoPrincipal" id="CorreoContactoPrincipal" placeholder="Correo Electrónico" data-mini="true">
                            </div>
                            <div class="ui-field-contain">
                                <label for="NumeroContactoPrincipal">Número de Teléfono:</label>
                                <input type="tel" name="NumeroContactoPrincipal" id="NumeroContactoPrincipal" placeholder="Número de Teléfono" data-mini="true">
                            </div>
                            <div class="ui-field-contain">
                                <label for="PaisResidencia">País de Residencia:</label>
                                <select name="PaisResidencia" id="PaisResidencia" data-native-menu="false" data-mini="true">
                                    <option value="">País de Residencia</option>
                                    <option value="Costa Rica">Costa Rica</option>
                                    <option value="Salvador">Salvador</option>
                                    <option value="Nicaragua">Nicaragua</option>
                                    <option value="Honduras">Honduras</option>
                                    <option value="Panamá">Panamá</option>
                                </select>
                            </div>
                            <div class="ui-field-contain">
                                <label for="Usuario">Usuario:</label>
                                <input type="text" name="Usuario" id="Usuario" placeholder="Usuario" data-mini="true">
                            </div>
                            <div class="ui-field-contain">
                                <label for="Contraseñas">Contraseña:</label>
                                <input type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña" data-mini="true">
                            </div>

                            <div class="ui-field-contain">
                                <label for="Pregunta1">Pregunta 1:</label>
                                <select name="Pregunta1" id="Pregunta1" data-native-menu="false" data-mini="true" style="width: 100%;">
                                    <option value="">Selecciona una pregunta</option>
                                    <option value="¿Cuál es el nombre de tu primera mascota?" style="width: 100%;">¿Cuál es el nombre de tu primera mascota?</option>
                                    <option value="¿Cuál es tu comida favorita de la infancia?">¿Cuál es tu comida favorita de la infancia?</option>
                                    <option value="¿Dónde conociste a tu pareja?">¿Dónde conociste a tu pareja?</option>
                                    <option value="¿Cuál es el nombre de tu mejor amigo de la infancia?">¿Cuál es el nombre de tu mejor amigo de la infancia?</option>
                                    <option value="¿Cuál es el nombre de tu abuelo materno?">¿Cuál es el nombre de tu abuelo materno?</option>
                                </select>
                            </div>
                            <div class="ui-field-contain">
                                <input type="text" name="Respuesta1" id="Respuesta1" placeholder="Ingrese su respuesta" data-mini="true">
                            </div>
                            <div class="ui-field-contain">
                                <label for="Pregunta2">Pregunta 2:</label>
                                <select name="Pregunta2" id="Pregunta2" data-native-menu="false" data-mini="true" style="width: 100%;">
                                    <option value="¿Cuál es el nombre de tu primera mascota?">¿Cuál es el nombre de tu primera mascota?</option>
                                    <option value="¿Cuál es tu comida favorita de la infancia?">¿Cuál es tu comida favorita de la infancia?</option>
                                    <option value="¿Dónde conociste a tu pareja?">¿Dónde conociste a tu pareja?</option>
                                    <option value="¿Cuál es el nombre de tu mejor amigo de la infancia?">¿Cuál es el nombre de tu mejor amigo de la infancia?</option>
                                    <option value="¿Cuál es el nombre de tu abuelo materno?">¿Cuál es el nombre de tu abuelo materno?</option>
                                </select>
                            </div>
                            <div class="ui-field-contain">
      
                                <input type="text" name="Respuesta2" id="Respuesta2" placeholder="Ingrese su respuesta" data-mini="true"  >
                            </div>
                            <div class="ui-field-contain">
                                <label for="Pregunta3">Pregunta 3:</label>
                                <select name="Pregunta3" id="Pregunta3" data-native-menu="false" data-mini="true" style="width: 100%;">

                                    <option value="¿Cuál es el nombre de tu primera mascota?">¿Cuál es el nombre de tu primera mascota?</option>
                                    <option value="¿Cuál es tu comida favorita de la infancia?">¿Cuál es tu comida favorita de la infancia?</option>
                                    <option value="¿Dónde conociste a tu pareja?">¿Dónde conociste a tu pareja?</option>
                                    <option value="¿Cuál es el nombre de tu mejor amigo de la infancia?">¿Cuál es el nombre de tu mejor amigo de la infancia?</option>
                                    <option value="¿Cuál es el nombre de tu abuelo materno?">¿Cuál es el nombre de tu abuelo materno?</option>
                                </select>
                            </div>
                            <div class="ui-field-contain">
                                <label for="Respuesta3">Respuesta 3:</label>
                                <input type="text" name="Respuesta3" id="Respuesta3" placeholder="Ingrese su respuesta" data-mini="true">
                            </div>
                            <input type="submit" value="Registrarse" class="ui-btn ui-corner-all ui-shadow ui-btn-b">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign-up End -->
@section footer{
}

</body>
