
@{
    ViewBag.Title = "Servicio";
}

<head>
    
</head>

<body>

@section navbar{
}

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container py-5">

            <div class="row g-4">
                <div class="container-xxl py-5">
                    <div class="container py-5">
                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                            <h6 class="text-secondary text-uppercase">Nuestras Unidades</h6>
                            <h1 class="mb-5">Explore nuestras unidades</h1>
                        </div>
                        <div class="row g-4">
                            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item p-4">
                                    <div class="overflow-hidden mb-4">
                                        <img class="img-fluid" src="img/lolita.jpeg" alt="">
                                    </div>
                                    <h4 class="mb-3">Freightliner</h4>
                                    <p>Freightliner es un fabricante líder de camiones y vehículos comerciales, conocido por su calidad, durabilidad y rendimiento excepcionales.</p>

                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="service-item p-4">
                                    <div class="overflow-hidden mb-4">
                                        <img class="img-fluid" src="img/kwcr.jpeg" alt="">
                                    </div>
                                    <h4 class="mb-3">Kenworth</h4>
                                    <p>Kenworth es un destacado fabricante de camiones y vehículos comerciales, reconocido por su compromiso con la excelencia, durabilidad sobresaliente y rendimiento confiable.</p>

                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="0.7s">
                                <div class="service-item p-4">
                                    <div class="overflow-hidden mb-4">
                                        <img class="img-fluid" src="img/mmk.jpg" alt="">
                                    </div>
                                    <h4 class="mb-3">MACK</h4>
                                    <p>MACK se destaca como un fabricante líder en la industria de camiones y vehículos comerciales, renombrado por su sólida construcción, innovación tecnológica y una tradición centenaria de proporcionar soluciones de transporte robustas y eficientes.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="service-item p-4">
                                    <div class="overflow-hidden mb-4">
                                        <img class="img-fluid" src="img/inter.png" alt="">
                                    </div>
                                    <h4 class="mb-3">International</h4>
                                    <p>Con una larga historia de excelencia, International Truck se ha ganado la confianza de la industria por ofrecer soluciones de transporte duraderas y avanzadas.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <h2 class="text-center mb-4">Servicios Adicionales</h2>
                    <p class="text-center mb-5">En ULAC, no solo nos comprometemos a brindar excelentes unidades de transporte, sino que también ofrecemos una variedad de servicios adicionales para satisfacer todas sus necesidades logísticas.</p>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="1.1s">
                    <div class="feature-item text-center p-4">
                        <div class="icon">
                            <i class="bi bi-globe"></i>
                        </div>
                        <h4 class="mb-3">Servicios Internacionales</h4>
                        <p>Ofrecemos servicios de transporte internacional para llevar su carga a cualquier parte de centroamerica de manera segura y eficiente.</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="1.3s">
                    <div class="feature-item text-center p-4">
                        <div class="icon">
                            <i class="bi bi-leaf"></i>
                        </div>
                        <h4 class="mb-3">Amigable con el Ambiente</h4>
                        <p>Nuestra flota de vehículos está diseñada para reducir el impacto ambiental y promover prácticas de transporte sostenibles.</p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="1.5s">
                    <div class="feature-item text-center p-4">
                        <div class="icon">
                            <i class="bi bi-check-circle"></i>
                        </div>
                        <h4 class="mb-3">Servicios Personalizados</h4>
                        <p>Nuestro equipo está comprometido a brindar soluciones logísticas personalizadas que se adapten a las necesidades específicas de su negocio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    @section footer{
    }
</body>

